[submodule "layers/0/bob.buildout"]
	path = layers/0/bob.buildout
	url = https://github.com/bioidiap/bob.buildout
[submodule "layers/0/bob.extension"]
	path = layers/0/bob.extension
	url = https://github.com/bioidiap/bob.extension
[submodule "layers/0/bob.blitz"]
	path = layers/0/bob.blitz
	url = https://github.com/bioidiap/bob.blitz
[submodule "layers/0/bob.core"]
	path = layers/0/bob.core
	url = https://github.com/bioidiap/bob.core
[submodule "layers/0/bob.sp"]
	path = layers/0/bob.sp
	url = https://github.com/bioidiap/bob.sp
[submodule "layers/0/bob.ap"]
	path = layers/0/bob.ap
	url = https://github.com/bioidiap/bob.ap
[submodule "layers/0/bob.math"]
	path = layers/0/bob.math
	url = https://github.com/bioidiap/bob.math
[submodule "layers/0/bob.measure"]
	path = layers/0/bob.measure
	url = https://github.com/bioidiap/bob.measure
[submodule "layers/1/bob.learn.activation"]
	path = layers/1/bob.learn.activation
	url = https://github.com/bioidiap/bob.learn.activation
[submodule "layers/1/bob.learn.linear"]
	path = layers/1/bob.learn.linear
	url = https://github.com/bioidiap/bob.learn.linear
[submodule "layers/0/bob.db.base"]
	path = layers/0/bob.db.base
	url = https://github.com/bioidiap/bob.db.base
[submodule "layers/1/bob.learn.libsvm"]
	path = layers/1/bob.learn.libsvm
	url = https://github.com/bioidiap/bob.learn.libsvm
[submodule "layers/2/bob.ip.optflow.liu"]
	path = layers/2/bob.ip.optflow.liu
	url = https://github.com/bioidiap/bob.ip.optflow.liu
[submodule "layers/1/bob.ip.color"]
	path = layers/1/bob.ip.color
	url = https://github.com/bioidiap/bob.ip.color
[submodule "layers/1/bob.ip.draw"]
	path = layers/1/bob.ip.draw
	url = https://github.com/bioidiap/bob.ip.draw
[submodule "layers/2/bob.ip.optflow.hornschunck"]
	path = layers/2/bob.ip.optflow.hornschunck
	url = https://github.com/bioidiap/bob.ip.optflow.hornschunck
[submodule "layers/2/bob.ip.flandmark"]
	path = layers/2/bob.ip.flandmark
	url = https://github.com/bioidiap/bob.ip.flandmark
[submodule "layers/1/bob.learn.mlp"]
	path = layers/1/bob.learn.mlp
	url = https://github.com/bioidiap/bob.learn.mlp
[submodule "layers/0/bob.io.base"]
	path = layers/0/bob.io.base
	url = https://github.com/bioidiap/bob.io.base
[submodule "layers/1/bob.io.image"]
	path = layers/1/bob.io.image
	url = https://github.com/bioidiap/bob.io.image
[submodule "layers/1/bob.io.video"]
	path = layers/1/bob.io.video
	url = https://github.com/bioidiap/bob.io.video
[submodule "layers/1/bob.io.matlab"]
	path = layers/1/bob.io.matlab
	url = https://github.com/bioidiap/bob.io.matlab
[submodule "layers/1/bob.ip.gabor"]
	path = layers/1/bob.ip.gabor
	url = https://github.com/bioidiap/bob.ip.gabor.git
[submodule "layers/1/bob.ip.base"]
	path = layers/1/bob.ip.base
	url = https://github.com/bioidiap/bob.ip.base.git
[submodule "layers/1/bob.learn.misc"]
	path = layers/1/bob.learn.misc
	url = https://github.com/bioidiap/bob.learn.misc.git
[submodule "layers/2/bob.db.iris"]
	path = layers/2/bob.db.iris
	url = https://github.com/bioidiap/bob.db.iris
[submodule "layers/2/bob.db.atnt"]
	path = layers/2/bob.db.atnt
	url = https://github.com/bioidiap/bob.db.atnt.git
[submodule "layers/2/bob.db.verification.utils"]
	path = layers/2/bob.db.verification.utils
	url = https://github.com/bioidiap/bob.db.verification.utils.git
[submodule "layers/2/bob.example.faceverify"]
	path = layers/2/bob.example.faceverify
	url = https://github.com/bioidiap/bob.example.faceverify.git
[submodule "layers/1/bob.learn.boosting"]
	path = layers/1/bob.learn.boosting
	url = https://github.com/bioidiap/bob.learn.boosting.git
[submodule "layers/2/bob.db.verification.filelist"]
	path = layers/2/bob.db.verification.filelist
	url = https://github.com/bioidiap/bob.db.verification.filelist.git
[submodule "layers/2/bob.db.banca"]
	path = layers/2/bob.db.banca
	url = https://github.com/bioidiap/bob.db.banca.git
[submodule "layers/2/bob.db.arface"]
	path = layers/2/bob.db.arface
	url = https://github.com/bioidiap/bob.db.arface.git
[submodule "layers/2/bob.db.caspeal"]
	path = layers/2/bob.db.caspeal
	url = https://github.com/bioidiap/bob.db.caspeal.git
[submodule "layers/2/bob.db.scface"]
	path = layers/2/bob.db.scface
	url = https://github.com/bioidiap/bob.db.scface.git
[submodule "layers/2/bob.db.multipie"]
	path = layers/2/bob.db.multipie
	url = https://github.com/bioidiap/bob.db.multipie.git
[submodule "layers/2/bob.db.mobio"]
	path = layers/2/bob.db.mobio
	url = https://github.com/bioidiap/bob.db.mobio.git
[submodule "layers/2/bob.db.xm2vts"]
	path = layers/2/bob.db.xm2vts
	url = https://github.com/bioidiap/bob.db.xm2vts.git
[submodule "layers/2/bob.db.gbu"]
	path = layers/2/bob.db.gbu
	url = https://github.com/bioidiap/bob.db.gbu.git
[submodule "layers/2/bob.db.frgc"]
	path = layers/2/bob.db.frgc
	url = https://github.com/bioidiap/bob.db.frgc.git
[submodule "layers/2/bob.db.lfw"]
	path = layers/2/bob.db.lfw
	url = https://github.com/bioidiap/bob.db.lfw.git
[submodule "layers/2/antispoofing.utils"]
	path = layers/2/antispoofing.utils
	url = https://github.com/bioidiap/antispoofing.utils.git
[submodule "layers/2/bob.db.nist_sre12"]
	path = layers/2/bob.db.nist_sre12
	url = https://github.com/bioidiap/bob.db.nist_sre12.git
[submodule "layers/2/bob.db.voxforge"]
	path = layers/2/bob.db.voxforge
	url = https://github.com/bioidiap/bob.db.voxforge.git
[submodule "layers/2/bob.db.mnist"]
	path = layers/2/bob.db.mnist
	url = https://github.com/bioidiap/bob.db.mnist.git
[submodule "layers/2/bob.db.wine"]
	path = layers/2/bob.db.wine
	url = https://github.com/bioidiap/bob.db.wine.git
[submodule "layers/2/bob.db.biosecure"]
	path = layers/2/bob.db.biosecure
	url = https://github.com/bioidiap/bob.db.biosecure.git
[submodule "layers/2/bob.db.youtube"]
	path = layers/2/bob.db.youtube
	url = https://github.com/bioidiap/bob.db.youtube.git
[submodule "layers/2/bob.db.replay"]
	path = layers/2/bob.db.replay
	url = https://github.com/bioidiap/bob.db.replay.git
[submodule "layers/2/bob.db.casia_fasd"]
	path = layers/2/bob.db.casia_fasd
	url = https://github.com/bioidiap/bob.db.casia_fasd.git
[submodule "layers/2/facereclib"]
	path = layers/2/facereclib
	url = https://github.com/idiap/facereclib.git
