*~
*.swp
*.pyc
*.gch
build
install
examples/*/build_*
.DS_Store
python/tests/out.mov
.gdb_history
ctags
etags
src/python/ip/test/data/faceextract/test_001.blue.answer.png
src/python/ip/test/data/faceextract/test_001.shift.png
