*~
*.swp
*.pyc
*.gch
.DS_Store
.gdb_history
.pydevproject
tags
sandbox_snowowl
my-sphinx.html
debian/bob/
debian/bob-doc/
debian/bob-dev/
debian/tmp
debian/files
debian/stamp-*
obj-*
debian/*.log
debian/*.substvars
databases/
build/
b/
i/
cxx/visioner/project/
python/*.egg-info
