bob.ip.facedetect
bob.ip.flandmark
bob.ip.optflow.hornschunck
bob.ip.optflow.liu
bob.db.iris
bob.db.mnist
bob.db.wine
bob.db.verification.utils
bob.db.verification.filelist
bob.db.atnt
bob.db.arface
bob.db.banca
bob.db.biosecure
bob.db.caspeal
bob.db.frgc
bob.db.gbu
bob.db.lfw
bob.db.mobio
bob.db.multipie
bob.db.scface
bob.db.xm2vts
bob.db.youtube
bob.db.nist_sre12
bob.db.voxforge
antispoofing.utils
bob.db.replay
bob.db.casia_fasd
bob.example.faceverify
facereclib
bob.bio.base
