bob.extension == 2.0.10
bob.blitz == 2.0.8
bob.core == 2.0.6
bob.io.base == 2.0.7
bob.sp == 2.0.4
bob.ap == 2.0.4
bob.math == 2.0.3
bob.measure == 2.0.5
bob.db.base == 2.0.5
bob.io.image == 2.0.4
bob.io.video == 2.0.5
bob.io.matlab == 2.0.4
bob.ip.base == 2.0.7
bob.ip.color == 2.0.4
bob.ip.draw == 2.0.3
bob.ip.gabor == 2.0.4
bob.learn.activation == 2.0.4
bob.learn.libsvm == 2.0.3
bob.learn.linear == 2.0.7
bob.learn.mlp == 2.0.6
bob.learn.em == 2.0.7
bob.learn.boosting == 2.0.3
bob.db.verification.utils == 2.0.3
bob.db.iris == 2.0.4
bob.db.wine == 2.0.3
bob.db.mnist == 2.0.3
bob.db.atnt == 2.0.3
bob.ip.facedetect == 2.0.3
bob.ip.optflow.hornschunck == 2.0.6
bob.ip.optflow.liu == 2.0.5
