#!/usr/bin/make -f
# -*- makefile -*-
#
# Configures, builds and installs Bob on Debian systems.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# Turns off testing after the build
# export DEB_BUILD_OPTIONS="nocheck"

# This has to be exported to make some magic below work.
export DH_OPTIONS

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release

override_dh_auto_build:
	dh_auto_build -- VERBOSE=$(DH_VERBOSE) all
	cd obj-$(DEB_BUILD_GNU_TYPE); ctest --verbose; cd -
	dh_auto_build -- VERBOSE=$(DH_VERBOSE) test
	dh_auto_build -- VERBOSE=$(DH_VERBOSE) sphinx
	dh_auto_build -- VERBOSE=$(DH_VERBOSE) sphinx-doctest
	dh_auto_build -- VERBOSE=$(DH_VERBOSE) sphinx-latex
	dh_auto_build -- VERBOSE=$(DH_VERBOSE) doxygen

override_dh_auto_install:
	dh_auto_install
	cmake -E copy_directory obj-$(DEB_BUILD_GNU_TYPE)/sphinx `pwd`/debian/tmp/usr/share/doc/bob/sphinx
	cmake -E copy_directory obj-$(DEB_BUILD_GNU_TYPE)/doxygen `pwd`/debian/tmp/usr/share/doc/bob/doxygen
